{% extends 'root.html' %}
{% block content %}
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <h4 class="text-center">Appointments</h4>
          <div class="box-body">
            <table id="example1" class="table table-bordered table-hover table-striped">
              <thead class="table bg-primary text-light">
                <th>Appointment Date</th>
                <th>Doctor</th>
                <th>Status</th>
                <th>Actions</th>
              </thead>
              <tbody>
                {% for appointment in current_user.appointments %}
                    <tr>
                      <td>{{appointment.appointment_date}}</td>
                      <td>
                        <p>Appointment Time: {{appointment.appointment_time}}</p>
                        <p>Location: {{appointment.location}}</p>
                        <p>Doctor Name: {{appointment.doctor.name}}</p>
                        <p>Doctor Email: {{appointment.doctor.email}}</p>
                        <p>Available Days: {{appointment.doctor.availability}}</p>
                        <p>From: {{appointment.doctor.start_time.strftime('%H:%M:%S')}}</p>
                        <p>To: {{appointment.doctor.end_time.strftime('%H:%M:%S')}}</p>
                      </td>
                      <td>
                        <button class="btn btn-primary btn-sm edit btn-flat">pending</button>
                      </td>
                      <td class="center d-flex w-100 gap-2">
                        <form action="" method="POST">
                          <button type="submit" class="btn btn-primary btn-sm edit btn-flat"><i class="fa fa-edit"></i> Reschedule</button>
                        </form>
                        <button type="button" class='btn btn-danger btn-sm delete btn-flat'
                          data-bs-toggle="modal" data-bs-target="#exampleModal{{appointment.id}}"><i
                            class='fa fa-times'></i> Cancel</button>
                      </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{appointment.id}}" tabindex="-1"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel Appointment</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to cancel the appointment?<p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                            <form action="{{url_for('cancel_appointment', appointment_id=appointment.id)}}" method="POST">
                              <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
